@import '../theme.css';

body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: var(--stone-900);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: var(--stone-900);
}
nav {
    display: flex;
    justify-content: space-between;
    width: clamp(300px, 80vw, 500px);
}
nav a {
    color: var(--orange-500);
    transition: scale .2s;
    letter-spacing: .03rem;
    font-size: 1.1rem;
}
nav a:hover {
    color: var(--orange-400);
    cursor: pointer;
    scale: 1.05;
}
#content {
    height: calc(100vh - 4rem);
}