@import '../theme.css';

.contact-container {
    display: grid;
    grid: auto / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    width: clamp(600px, 90vw, 900px);
    height: 100%;
    color: var(--stone-200);
}
.contact-info-description em {
    font-style: italic;
    font-weight: 600;
    color: var(--orange-500);
}
.contact-info-description p {
    margin: 0 0 1.5rem 0;
}
.contact-info-title {
    margin: 0 0 2rem 0;
    font-size: 2rem;
    color: var(--stone-200);
}
.contact-info-title::after {
    content: ',';
    color: var(--orange-600)
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact-form h1 {
    margin: 0 0 2rem 0;
}
.contact-form h1::after{
    content: ':';
    color: var(--orange-600)
}
.contact-form label {
    color: var(--stone-100);
    font-style: italic;
    margin-bottom: .3rem;
}
.contact-form input,
.contact-form textarea {
    box-sizing: border-box;
    height: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem .4rem;
    border-radius: .2rem;
    border: 0px;
    font-size: 1rem;
}
.contact-form input:focus,
.contact-form textarea:focus {
    outline: 3px solid var(--orange-700)
}
.contact-form textarea {
    height: 10rem;
    padding: .5rem .4rem;
    resize: none;
    font-family: inherit;
    scroll-behavior: auto;
}
.contact-form button {
    width: 6rem;
    height: 2.5rem;
    margin: 0 auto;
    border: none;
    border-radius: .2rem;
    font-size: 1rem;
    background-color: var(--orange-600);
    color: var(--stone-200);
    font-weight: 600;
    letter-spacing: .05rem;
    transition: scale 0.2s;
}
.contact-form button:focus {
    outline: 2px solid var(--orange-700);
}
.contact-form button:hover {
    background-color: var(--orange-500);
    scale: 1.05;
}
.contact-form button:active {
    background-color: var(--orange-900);
    outline: none;
}
