@import '../theme.css';

#home-container {
    display:grid;
    place-items: center;
    height: 100%;
    background-image: url(./pizza-in-front-of-oven.jpg);
    background-position: center -20rem;
}
#home-main {
    padding: 1rem 3rem;
    border-top: 3px solid var(--stone-200);
    border-left: 3px solid var(--stone-200);
    border-bottom: 3px solid var(--orange-600);
    border-right: 3px solid var(--orange-600);
    background-color: var(--stone-900);
}
#home-main h1 {
    text-align: center;
    font-weight: 400;
    font-size: 4rem;
    color: var(--stone-200);
}
#home-main h1::after {
    content: '.';
    color: var(--orange-600)
}
